$white:#ffffff;
$grey: rgba(132, 133, 137, 0.53);

.customNavbar{
  background-color: $grey;
  border:0;
  border-radius: 0;
    .customNavbarHeading {
      .customNavbarBrand {
        color: $white;
        padding-top: 4px;

      }
    }
    .navbar-nav>li>a
    {
      color: $white;
    }
  .burger-menu {
    border:none
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
  }
.logo{
  width: 130px;
  max-width: 130px;
}

}
