
@import '../../node_modules/rc-slider/assets/index.css';
@import "tours";
@import "landing";
@import "imageUploader";
@import "header";
@import "userLogin";
@import "userSignup";
@import "userDetail";
@import "tourDetail";
@import "tourCreate";
@import "tourItem";
@import "messageBoard";

html, body, #app, #app>div {
  height: 100%;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $borderBlue;
}
