$textGreen: #158a00;
$textGrey: #727272;
$filter-values-color: $textGrey;

.tour-list-item-wrapper {
  //margin-top: 20px;
  div.tour-list-item {
    min-height: 250px;
    div.image {
      margin-top: 15px;
      height: 130px;
      background-size: cover
    }
    .def-image {
      background: url("../images/tour.jpg") 50% no-repeat, #adb5c4 fixed;
      height: 130px;
      background-size: cover
    }
    div.title {
      color: $textGreen;
      font-size: 20px;
    }
    div.bottom {
      display: flex;
      flex-direction: row;
      div.guided {
        flex-grow: 1;
      }
    }

  }
}

div.filters-wrapper {
  .location {
    div.autocomplete-dropdown-container {
      border-radius: 0 0 3px 3px;
      border: 1px solid #707070;
      .suggestion-item {
        &.active {
          background-color: #f0f0ff;
        }
        padding: 5px 10px;
      }
    }
  }
  div.price-wrapper {
    div.price {
      padding-top: 12px;
      display: flex;
      .value {
        line-height: 14px;
        font-size: 16px;
        color: $filter-values-color;
        font-weight: 300;
        &.min {
          margin: 0 20px 0 2px;
        }

        &.max {
          margin: 0 2px 0 20px;
        }
      }
      .rc-slider-track {
        background-color: $textGreen !important;
      }

      .rc-slider-handle {
        border: solid 2px $textGrey !important;
      }
    }
  }

}