.profile-page {
  div.row {
    div.row {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .customNavbar {
    margin-bottom: 1px;
  }
  .container {
    margin: 0;
    width: 100%;
  }
  .user-details-column {
    background: papayawhip;
    height: 100%;
    min-height: 100vh;
    -webkit-box-shadow: 4px 2px 6px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 2px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 4px 2px 6px 0 rgba(0, 0, 0, 0.3);

    .profile-image {
      margin-top: 10%;
      margin-bottom: 8%;
      border-radius: 50% 50%;
    }
    .user-firstname {
      font-size: 22px;
    }
    .user-surname {
      font-size: 22px;
    }
    .username {
      display: inline-flex;
      margin: 10% 2% 2% 2%;

      .username-tag {
        font-size: 14px;
        color: lightslategray;
        line-height: 24px;
      }
      .user-username {
        font-size: 18px;
      }
    }
    .phone {
      display: inline-flex;
      margin: 2%;

      .phone-tag {
        font-size: 14px;
        color: lightslategray;
        line-height: 24px;
      }
      .user-phone {
        font-size: 18px;
      }
    }
    .email {
      display: inline-flex;
      margin: 2%;

      .email-tag {
        font-size: 14px;
        color: lightslategray;
        line-height: 24px;
      }
      .user-email {
        font-size: 18px;
        max-width: fit-content;
        word-break: break-word;

      }
    }
  }
  .tour-list-item-wrapper {
    -webkit-box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.3);
    margin: 2px 2px 10px 15px;
    background-color: dimgray;

    .title {
      color: #d9edf7 !important;
    }
  }

  .tour-heading {
    font-size: 20px;
    padding: 5px 10px 10px 20px;
  }


  i {
    color: gold;
  }
  .edit-profile {
    width: 80%;
    margin: 5%;
    background-color: #d9edf7;
    border-radius: 0;
    -webkit-box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.3);
  }
}